


/* Hamburger Icon Styling */
.bars {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 40px;
  cursor: pointer;
  z-index: 101;
  padding-top:10px;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #646464;
  position: absolute;
}

/* span::before,
span::after {
  content: "";
  display: block;
  background-color: #646464;
  width: 100%;
  height: 4px;
  position: absolute;
} */

.bar::before {
  transform: translateY(-9px);
}

.bar::after {
  transform: translateY(9px);
}

.bars.active .bar {
  background-color: transparent;
}

.bars.active span::before {
  animation: top-bar 1s;
  animation-fill-mode: forwards;
}

.bars.active span::after {
  animation: bottom-bar 1s;
  animation-fill-mode: forwards;
}


/* Navbar Links CSS */

#nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}

#nav a {
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
  line-height: 70vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-indent: 40vw;
  border-radius: 50%;
  transition: all .5s;
}

#nav a:hover {
  background: #b16d00;
}

ul {
  list-style: none;
}

.visible {
  z-index: 100 !important;
  opacity: 1 !important;
}

.shape-circle {
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  top: -10vw;
  right: -10vw;
  position: absolute;
  transition: all 1s ease-in-out;
  background: #505050;
  box-shadow: 0 0px 0px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child {
  width: 161vw;
  height: 161vw;
  top: -100vw;
  right: -100vw;
  z-index: 5;
  transition: all .5s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(2) {
  width: 121vw;
  height: 121vw;
  top: -75vw;
  right: -75vw;
  z-index: 6;
  transition: all .6s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(3){
  width: 81vw;
  height: 81vw;
  top: -50vw;
  right: -50vw;
  z-index: 7;
  transition: all .7s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:last-child{
  width: 41vw;
  height: 41vw;
  top: -25vw;
  right: -25vw;
  z-index: 8;
  transition: all .8s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child a {
  line-height: 255vw !important;
    text-indent: 20vw !important;

}

nav.visible li:nth-child(2) a {
  line-height: 190vw !important;
  text-indent:16vw !important;
}

nav.visible li:nth-child(3) a {
  line-height: 125vw !important;
    text-indent: 11vw !important;
  
}

nav.visible li:last-child a {
  line-height: 61vw !important;
  text-indent:8vw !important;
}


/* Main Body CSS */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: rgb(186, 186, 186);
}

.title {
  font-size: 60px;
  text-shadow: 0 10px 20px #b16d00, 0 6px 6px rgba(0, 0, 0, 0.23);
  font-size: 120px;
  letter-spacing:5px;
}

.subTitle {
  padding-top: 15px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


@keyframes top-bar {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(45deg) translateY(0);
  }
}

@keyframes bottom-bar {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(-45deg) translateY(0);
  }
}


@media screen and (max-width:800px) {

  h1 {
    padding-top:80px;
    font-size: 60px;
  }
}
