/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Styling */
.navbar-section {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-middle {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar-right a {
  color: black;
  font-size: 2rem;
  text-decoration: none;
  text-shadow: 2px 2px 4px #b16d00;
 padding: 10px; 
}

/* Logo picture styling */
.navbar-logo-pic {
  height: 80px;
  margin-left: 100px;
  margin-top: 5px;
}

/* hamburger */
.menu-icon {
  display: none;
  font-size: 2.5em;
  cursor: pointer;
}

/* Navbar list */

.navbar-list {
  display: flex;
  margin-right: 100px;
  list-style: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 2px 2px 4px #b16d00;
}
.navbar-list li{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  padding: 20px;
}
.navbar-list a {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}

#navbar-toggle{
  visibility: hidden;
}

/* Hover styling */
.navbar-list li a:hover {
  transition: font-size 0.4 ease-in-out;
  font-size: 1.5rem;
}

.navbar-logo-pic:hover {
  transition: font-size 0.3 ease-in-out;
  height: 80px;
}

/* Media query */
@media (max-width: 800px) {
  .navbar-section ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #e0e0e0e0;
  }

  .navbar-list li{
    text-align: center;
    margin: auto;
    line-height: 1.75rem;
  }

  .menu-icon {
    display: block;
  }

  #navbar-toggle:checked ~ ul {
    display: block;
  }
}
