* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  background-image: url('/Portfolio/public/images/b1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: black;
}