/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  scroll-margin-top:80px;
  border: 2px solid rgba(112, 128, 144, 0.225);
  
   /* background effect */
   background: linear-gradient(135deg, #e0e0e030 50%, transparent 0),
   linear-gradient(-135deg, #e0e0e030 50%, transparent 0);
 background-size: 10em 10em;
 background-color: #ffffff;
}

.contact-content {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: 500;
 margin-bottom: 60px;
}

h1{
  margin-bottom: 20px;
}

/* Form section */
.form {
  background-color: #f2f2f2;
  border: 1px solid #cccc;
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 50%;
  box-shadow: 0px 0px 10px #cccc;
}


label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

input[type="submit"] {
  display: block;
  margin: auto;
  background-color: steelblue;
  color: white;
  border: none;
  font-size: 18px;
  padding: 12px 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  
}

input[type="submit"]:hover {
  background-color: rgb(39, 76, 106);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
